[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
numpy = "*"
pandas = "*"
onnxruntime = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
bcrypt = "*"
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.10"
